.card-deck {
	padding: 20px 50px;
	display: flex;
	//justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-deck .card {
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	overflow: hidden;
	flex: 0 0 auto;
}

.card-deck .avatar {
	/*display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-radius: 50%;*/
	width: 100%;
	margin: 0;
	padding: 0;
}

.card-deck .card-info {
	padding: 15px;
}

.card-deck .card-info h3 {
	margin: 0;
	text-align: center;
}

.card-deck .card-info .degree,
.card-deck .card-info .position,
.card-deck .card-info .department,
.card-deck .card-info .organization,
.card-deck .card-info .website,
.card-deck .card-info .interests {
	padding: 0.5em 0 0 0;
}

.card-deck .card-info .degree,
.card-deck .card-info .position,
.card-deck .card-info .department,
.card-deck .card-info .organization {
	//font-size: 17pt;
	font-weight: bold;
}

.card-deck .card-info .interests ul {
	margin: 0;
}

@media screen and (min-width: 801px) and (min-width: 1025px) {
	.card-deck .card {
		margin-left: 20px;
		width: calc(25% - 15px);
	}
	.card-deck .card:nth-child(4n+1) {
		margin-left: 0;
	}
	.card-deck .card:nth-child(n+5) {
		margin-top: 20px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
	.card-deck .card {
		margin-left: 20px;
		width: calc(33.33% - 14px);
	}
	.card-deck .card:nth-child(3n+1) {
		margin-left: 0;
	}
	.card-deck .card:nth-child(n+4) {
		margin-top: 20px;
	}
}
@media screen and (min-width: 601px) and (max-width: 800px) {
	.card-deck .card {
		width: calc(50% - 10px);
	}
	.card-deck .card:nth-child(2n) {
		margin-left: 20px;
	}
	.card-deck .card:nth-child(n+3) {
		margin-top: 20px;
	}
}
@media screen and (max-width: 600px) {
	.card-deck {
		padding: 20px 25px;
	}
	.card-deck .card {
		width: 100%;
	}
	.card-deck .card ~ .card{
		margin-top: 20px;
	}
}


/*
@media screen and (min-width: 1024px) {
	.card-deck .card {
		width: calc(25% - 32px);
	}
}
*/

.large-card-deck {
	padding: 20px 50px;
	display: grid;
	grid-template-columns: auto 1fr;
	row-gap: 50px;
	column-gap: 50px;
}

.large-card-deck .card {
	display: contents;
}

.large-card-deck .avatar {
	max-width: 300px;
}

.large-card-deck .card-info {
}

.large-card-deck .card-info h3 {
	margin: 0;
	padding: 0;
	font-size: 20pt;
}

.large-card-deck .card-info .position,
.large-card-deck .card-info .department,
.large-card-deck .card-info .organization,
.large-card-deck .card-info .website,
.large-card-deck .card-info .interests {
	padding: 0.5em 0 0 0;
}

.large-card-deck .card-info .position,
.large-card-deck .card-info .department,
.large-card-deck .card-info .organization {
	font-size: 17pt;
	font-weight: bold;
}

.large-card-deck .card-info .interests ul {
	margin: 0;
}

@media screen and (max-width: 600px) {
	.large-card-deck {
		row-gap: unset;
		column-gap: unset;
		padding: 20px 25px;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.large-card-deck .card {
		display: block;
		width: 100%;
		box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
		border-radius: 20px;
		overflow: hidden;
		flex: 0 0 auto;
	}
	.large-card-deck .card ~ .card{
		margin-top: 20px;
	}

	.large-card-deck .avatar {
		/*display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		border-radius: 50%;*/
		width: 100%;
		max-width: none;
		margin: 0;
		padding: 0;
	}

	.large-card-deck .card-info {
		padding: 15px;
	}

	.large-card-deck .card-info h3 {
		margin: 0;
		text-align: center;
	}
}
