/* 
 * General
 * */

section {
	margin: 0;
	padding: 0;
}

section > h2,
section > p {
	margin: 0;
	padding: 20px 50px;
}

section > p ~ p {
	padding-top: unset;
}

@media screen and (max-width: 600px) {
	section > h2,
	section > p {
		padding: 10px 25px;
	}

	section > p ~ p {
		padding-top: unset;
	}
}

/* 
 * Body
 * */
body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*
 * Header
 * */
#page-header {
	padding: 0 25px;
	min-height: 300px;
	position: relative;
	z-index: -3;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page-header:after {
	content: " ";
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: -2;
}

#page-header > h1 {
	text-align: center;
	z-index: -1;
}

/*
 * Top Bar
 * */
#top-nav {
	width: 100%;
	overflow: hidden;
	position: fixed;
}

#top-nav div.logo {
	padding: 20px;
	float: left;
}
#top-nav-hamburger {
	display: none;
}

#top-nav nav {
	padding: 20px;
	float: right;
}

#top-nav a {
	padding: 0 10px;
}

@media screen and (max-width: 920px) {
	#top-nav div.logo {
		padding: 7px;
		overflow: hidden;
		float: none;
	}
	#top-nav nav {
		padding: 0 0 0 1em;
		float: none;
	}
	#top-nav nav a {
		display: block;
	}

	#top-nav-hamburger {
		cursor: pointer;
		display: block;
		float: right;
	}
	
	#top-nav.responsive nav {
		display: none;
	}
	#top-nav.responsive.active nav {
		display: block;
	}
}

/*
 * Main
 * */
main {
	margin: 0;
	padding: 0;
	flex: 1;
}

#funding .logos {
	padding: 20px 50px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

#funding .logos img {
	margin: 20px;
}

@media all and (min-width: 800px) {
	main#home {
		display: flex;
		flex-flow: row wrap;
	}
	main#home aside {
		margin: 15px;
		flex: 1 25%;
		order: 1;
	}
	main#home section.recent-news {
		margin: 15px;
		flex: 1 75%;
		order: 2;
	}
}

/*
 * Footer
 * */
#page-footer {
	text-align: center;
}

#page-footer {
	padding: 25px;
}

#page-footer address {
	margin-bottom: 1em;
}

#page-footer p {
	margin: 0;
}
