/* 
 * Body
 * */
body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*
 * Header
 * */
#page_header {
	padding: 0 25px;
	min-height: 300px;
	position: relative;
	z-index: -3;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page_header:after {
	content: " ";
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: -2;
}

#page_header > h1 {
	text-align: center;
	z-index: -1;
}

/*
 * Top Bar
 * */
#top_nav {
	width: 100%;
	padding: 10px;
	position: fixed;
}

#top_nav.has-hamburger {
	padding: 0;
}

#top_nav_logo,
#top_nav_links {
	display: inline;
}

#top_nav.has-hamburger #top_nav_logo,
#top_nav.has-hamburger #top_nav_links {
	padding: 10px;
	display: block;
}

#top_nav.has-hamburger #top_nav_logo {
	float: left;
}

#top_nav.has-hamburger #top_nav_links {
	float: right;
}

#top_nav:not(.has-hamburger) #top_nav_logo:after {
	content: "|";
}

#top_nav_logo a,
#top_nav_links a {
	margin: 0 10px;
}

#top_nav_hamburger {
	display: none;
	float: right;
}

@media screen and (max-width: 920px) {
	#top_nav_hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#top_nav.has-hamburger #top_nav_links.hidden {
		display: none;
	}

	#top_nav.has-hamburger #top_nav_logo,
	#top_nav.has-hamburger #top_nav_links {
		float: none;
	}
	
	#top_nav.has-hamburger #top_nav_links > a {
		display: block;
		margin: 0 calc(10px + 1em);
	}
}


/*
 * Main
 * */

main {
	margin: 0;
	padding: 0;
	flex: 1;
}
main > section {
	margin: 0;
	padding: 0;
}
main > section > h2,
main > details > summary {
	margin: 0;
	padding: 10px 50px;
}
main > section > p,
main > details > p {
	margin: 1em 50px;
}

main > details > summary {
	cursor: pointer;
}

/*
 * Funding
 * */
.funding-logos {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.funding-logos img {
	padding: 25px;
}

/*
 * Footer
 * */
#page_footer {
	font-size: smaller;
	text-align: center;
	padding: 10px;
}

#page_footer > address > p {
	margin: 0;
}
