/*
 * Header
 * */
#page_header > h1 {
	font-size: 50pt;
	font-weight: bold;
	font-variant: small-caps;
	font-family: serif;
}

/*
 * Top Bar
 * */
#top_nav {
	font-size: 20pt;	
}

#top_nav_logo > a,
#top_nav_links > a {
	font-variant: small-caps;
}

#top_nav_logo > a,
#top_nav_links > a {
	text-decoration: none;
}

#top_nav_logo > a.active,
#top_nav_links > a.active {
	font-weight: bold;
}

/*
 * Main
 * */
main {
	font-size: 15pt;
	font-family: serif;
}
main > section > h2,
main > details > summary {
	font-size: 25pt;
	font-weight: bold;
	font-variant: small-caps;
	font-family: serif;
}

main > section > p,
main > details > p {
	text-align: justify;
	text-justify: inter-word;
}

/*
main > details > summary::-webkit-details-marker {
	display: none;
}

main > details > summary::before {
	content: "+";
	margin-right: 0.5em;
	font-family: monospace;
}

main > details[open] > summary::before {
	content: "-";
	margin-right: 0.5em;
	font-family: monospace;
}
*/


/*
 * People
 * */
.card-info p.title:before {
	content: "Title: ";
	font-weight: bold;
}

.card-info p.advisor:before {
	content: "Advisor: ";
	font-weight: bold;
}

.card-info p.research:before {
	content: "Research Interests: ";
	font-weight: bold;
}

/*
 * Funding
 * */
.grant .project {
	font-weight: bold;
}

.grant .agency,
.grant .start-date,
.grant .end-date,
.grant .award {
	font-style: italic;
}

.grant .project:after {
	content: ".";
}


.grant .agency:after {
	content: ",";
}

.grant .start-date + .end-date:before {
	content: "- ";
}

.grant .end-date:after {
	content: ",";
}

.grant .amount:after {
	content: ".";
}

.grant .pi:before {
	content: "PI(s): ";
}
.grant .co-pi:before {
	content: "Co-PI(s): ";
}

.grant .pi ~ .pi:before,
.grant .co-pi ~ .co-pi:before {
	content: ""; 
}

.grant .pi:after,
.grant .co-pi:after {
	content: ",";
}

/* this does not work right */
.grant .pi:nth-last-of-type(1):after,
.grant .co-pi:nth-last-of-type(1):after {
	content: ".";
}
