/*
 * General
 * */
h1 {
	font-size: 50pt;
	font-weight: bold;
	font-variant: small-caps;
	font-family: serif;
}

h2 {
	font-size: 25pt;
	font-weight: bold;
	font-variant: small-caps;
	font-family: serif;
}

p.justify {
	text-align: justify;
	text-justify: inter-word;
}

ul {
	list-style-type: circle;
}

/*
 * Body
 * */
body {
	font-size: 15pt;
	font-family: serif;
}

/*
 * Header
 * */

/*
 * Top Bar
 * */
#top-nav nav {
	font-variant: small-caps;
}

#top-nav a {
	font-size: 20pt;
	text-decoration: none;
}

#top-nav a.active {
	font-weight: bold;
}

/*
 * Main
 * */
.funding .project {
	font-weight: bold;
}

.funding .agency,
.funding .start-date,
.funding .end-date,
.funding .award {
	font-style: italic;
}

.funding .project:after {
	content: ".";
}


.funding .agency:after {
	content: ",";
}

.funding .start-date + .end-date:before {
	content: "- ";
}

.funding .end-date:after {
	content: ",";
}

.funding .amount:after {
	content: ".";
}

.funding .pi:before {
	content: "PI(s): ";
}
.funding .co-pi:before {
	content: "Co-PI(s): ";
}

.funding .pi ~ .pi:before,
.funding .co-pi ~ .co-pi:before {
	content: "";
}

.funding .pi:after,
.funding .co-pi:after {
	content: ",";
}

/* this does not work right */
.funding .pi:nth-last-of-type(1):after,
.funding .co-pi:nth-last-of-type(1):after {
	content: ".";
}

/*
 * Footer
 * */
#page-footer p {
	font-size: small;
}
